.header {
    display: flex;
    padding: 45px;
    justify-content: space-between;
    align-items: center;
    font-size: 15px;
}

.logo{
    display: flex;
    align-items: center;
}

.menu{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly;
}

.menu li {
    margin-left: 30px;
}

p{
    margin-left: 5px;
    font-weight: 800;
}

li .sobre{
    color: white;
    background-color: #5BC241;
    padding: 11px 6px;
}
li .cadastreSe{
    background-color: #5BC241;
    color: white;
    border: none;
    padding: 11px 21px;
    border-radius: 10px;
}


